@import url("stylesheet.css");

.register-content {
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

.left-image {
    grid-column: 1;
}

.form-container {
    overflow: auto;
    grid-column: 2;

    font-family: 'Noto Sans', sans-serif;
    size: 16px;
    line-height: 29px;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.form-input {
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;    
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    border: none;
    background: #F8F1FF;
}

.form-submit {
    width: 273px;
    height: 40px;
    left: 0px;
    top: 0px;    
    padding: 16px;
    background-color: #985ACE;
    color: white;
    font-size: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}